@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*Style for Logo*/
.logo{
    font-size: 3.5rem;
    color: #40cac3;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-shadow: 0 0 10px #40cac3;
}

.logo:hover{
    transform: scale(1.1);
}

/*Style for Navigation bar*/
 nav a{
    font-size: 2rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #40cac3;
    border-bottom: 3px solid #40cac3;
}

@media(max-width:995px){
    nav{
        position:absolute;
        display: none;
        top: 100%;
        right:0;
        width:40%;
        border-left: 3px solid #40cac3;
        border-bottom: 3px solid #40cac3;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid; 
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0,1);
    }
    nav.active{display: block;}
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #40cac3; 
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

/*Style for home section*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #40cac3;
    text-shadow: 0 0 10px#40cac3;
}


.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}
/*Style for logo image*/
.home-img{
    border-radius: 50%;

}

.home-img img{
    position:relative;
    width: 32vh;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #40cac3;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    transform: scale(1.05);
}

/*Style for social icons*/
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #40cac3;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: #40cac3;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #40cac3;
    box-shadow: 0 0 25px #40cac3;
}

/*Style for typping text*/
.typping-text{
    font-size: 40px;
    font-weight: 600;
    min-width: 280px;
}

.typping-text span{
    position: relative;
}

.typping-text span::before{
    content:"IU Student ";
    color: #40cac3;
    animation: words 20s infinite;
}

.typping-text span::after{
    content:"";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

/*@keyframes cursor{
    to{
        border-left: 3px solid #40cac3;
    }
}*/

/**/
/*@keyframes words{
    40%, 60%{
        content:"Computer Network "
    }
    61%, 80%{
        content:"Game Development "    
    }
    81%, 100%{
        content:"Web Development "
    }
}*/

@media(max-width:1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vh;
        margin-top: 4rem;
    }
}
/*Skill Section*/
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    min-height: 100vh;
    color: #40cac3;
    background-color: black;
}

.skill h1{
    font-size: 5rem;
    text-shadow: 0 0 10px #40cac3;
}

.skill-container{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   gap:15px;
   max-width: 600px;
   margin: 0 auto;
}

.skill-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 150px;
    min-height: 150px;
    margin: 45px;
    padding: 10px;
    background-color: #212020;
    border: 0.2px solid #302b2b;
    border-radius: 15%;
}

.skill-box p{
    font-size: 2rem;
}

.skill-box img{
    width: 80px;
    height: auto;
}

.skill-box:hover {
    box-shadow: 0 5px 10px #40cac3;
    transform: scale(1.05);
    transition: 0.3s ease;
}

/*About Section*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    min-height: 100vh;
    color: #40cac3;
    background-color: black;
}

.about-container{
    display: relative;
    max-width: 500px;
    background: transparent;
    border-radius: 12px;
    gap: 2rem;
}

.about-container h2 {
    margin-bottom: 15px;
    font-size: 7rem;
    text-shadow: 0 0 10px #40cac3;
}

.about-container p{
    font-size: 2rem;
    padding-left: 1rem;
}

.about-container a{
    font-size: 2rem;
    padding-left: 1rem;
}

.map {
    display: relative;
    max-width: 600px;
    border-radius: 12px;
}

/*Gallery Section*/
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #40cac3;
    background-color: black;
    padding:40px 0;
    gap: 50px;
}


.gallery h1{
    font-size: 5rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #40cac3;
}

.gallery-container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 3rem;
   max-width: 600px;
   margin: 0 auto;
}

.gallery-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 0.2px solid #212020;
    border-radius: 10px;
}

.gallery-container img:hover{
    box-shadow: 0 0 25px #40cac3;
    transform: scale(1.05);
    transition: 0.3s ease;
}

/*Contact Section*/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #40cac3;
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.form-container h2{
    font-weight: bold;
    font-size: 4rem;
}

.form-container hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #40cac3;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 50px;
    background-color: #302b2b;
    color: #40cac3;
}

.form-container textarea{
    height: 150px;
    border-radius: 20px;
    padding-top: 15px;
}

.form-container .info:focus{
    border: 2px solid #40cac3;
    box-shadow: 0 0 10px #40cac3;
}

.form-container label{
    font-size: 20px;
}

.form-container button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #40cac3;
    gap: 10px;
    border:none;
    border-radius: 30px;
    background-color: #302b2b;
}